{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm">
        <hw>Something went wrong...</hw>
        <p>{{error}}</p>
        <a href="/" class="btn btn-warning">Go back home</a>
    </div>
{% endblock %}